<h1>
  <%= @poll.date.strftime("%B %d, %Y") %>
  (<% if @poll.active %>Active<% else %>Inactive<% end %>)
</h1>

    <script type="text/javascript">

      var pusher = new Pusher('dbd07205176161ade138');
      var channel = pusher.subscribe('test_channel');

      channel.bind('my_event', function(data) {
      });
    </script>

<div id="chart_div"></div>

<strong>Demos</strong>
<ul class="item_list">
  <% @poll.demos.order("id ASC").each do |d| %>
  <li>
    <span class="poll_date"><%= d.team_id %> - <%= Team.find(d.team_id).name %></span>
    <% if d.active %>
      <span class="active_status active" data-item-id="<%= d.id %>" data-item-type="demo">Active</span>
    <% else %>
      <span class="active_status inactive" data-item-id="<%= d.id %>" data-item-type="demo"><a href="#" class="activate">Activate</a></span>
    <% end %>
  </li>
  <% end %>
</ul>