<h1>
  <%= @poll.date.strftime("%B %d, %Y") %>
  (<% if @poll.active %>Active<% else %>Inactive<% end %>)
</h1>

    <script type="text/javascript">


      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        var ajax = $.ajax({
          url: '/polls/data/' + <%= @poll.id %>,
          dataType: 'json'
        }).done(function(a) {
          var chart_data = google.visualization.arrayToDataTable(a);
          var options = {};
          chart.draw(chart_data, options);
        });
      }

      var pusher = new Pusher('dbd07205176161ade138');
      var channel = pusher.subscribe('test_channel');

      channel.bind('my_event', function(data) {
        drawChart();
      });
    </script>

<div id="chart_div"></div>

<strong>Demos</strong>
<ul class="item_list">
  <% @poll.demos.each do |d| %>
  <li>
    <span class="poll_date"><%= Team.find(d.team_id).name %></span>
    <% if d.active %>
      <span class="active_status active" data-item-id="<%= d.id %>" data-item-type="demo">Active</span>
    <% else %>
      <span class="active_status inactive" data-item-id="<%= d.id %>" data-item-type="demo"><a href="#" class="activate">Activate</a></span>
    <% end %>
  </li>
  <% end %>
</ul>