<!DOCTYPE html>
<html>
<head>
  <title>Yopoll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="logo">YoPoll</div>
  <nav>
    <ul>
      <li><%= link_to "Polls", polls_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><a href="#">Sign In</a></li>
    </ul>
  </nav>
</header>

<section id="main">
<%= yield %>
</section>

</body>
</html>
